<h1>Contacts</h1>

<h3>Add a contact</h3>


<form action="/phone" method="post">
  <label for='name'>Dealership's name:</label>
  <input id='name' name='name' type='text'>
  <button type="submit">Add Dealership</button>
</form>

<ul>
  <% @phones.each() do |phone| %>
    <li><a href="/phone/<%= phone.id() %>"><%= phone.name() %></a></li>
  <% end %>
</ul>

<h4>Here are the vehicles on this lot: </h4>
<ul>
  <% @contacts.each() do |contact| %>
    <li><a href="/contact/<%= contact.id() %>"><%= contact.model() %></a></li>
  <% end %>
</ul>
